pkgbase = dawnpro-gui
	pkgdesc = GUI tool for controlling Moondrop Dawn Pro and DAWN PRO2 devices
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/mohammed-just/DawnPro-GUI-windows
	arch = any
	license = MIT
	makedepends = git
	depends = python
	depends = python-pyusb
	depends = python-hidapi
	depends = hidapi
	depends = tk
	source = dawnpro-gui-1.1.0.tar.gz::https://github.com/mohammed-just/DawnPro-GUI-windows/archive/v1.1.0.tar.gz
	sha256sums = SKIP

pkgname = dawnpro-gui
